.topic-register-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topic-register-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topic-register-form-fields {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  border: none;
  background: #ade8f4;
  color: #fdfdfd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 8px;
}

.topic-register-form-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.topic-register-form-button-submit {
  background: #00fd87;
  color: #fdfdfd;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.topic-register-form-button-submit,
.topic-register-form-button-back:hover {
  display: flex;
  cursor: pointer;
}

.topic-register-form-button-back {
  background: #48CAE4;
  color: #fdfdfd;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
