.user-list-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.user-list-table td, .user-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-list-table tr:nth-child(even){background-color: #f2f2f2;}

.user-list-table tr:hover {background-color: #ddd;}

.user-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #90E0EF;
  color: white;
}